@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
*{
  font-family: 'Inter', sans-serif;
}
body{
    background-color:  #2f2e6a;
}
h1,h2{
 color: white;
}
h3{
    color: #D5B1E6;
}
td{
    background-color: #D5B1E6;
    padding: 10px;
}
th{
    background-color:#6f42c1;
    color: white;
}
a{
    color: #6f42c1;
    text-decoration: none;
}